body {
  margin: 0 auto;
  padding: 0 auto;
}


.results{
  width: 100%;
  margin-top: 150px;
}

.tweetz {
  display: flex;
  background-color: rgb(244,244,244);
  height:100%;;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.results .tweetz .tweet {
  list-style: none;
  border-style: 2px black;
  flex-direction: row;
  width: 30%;
  padding: 25px;
}

.results .flexer {
  border-style: 2px black;
  flex-direction: row;
  width: 30%;
  padding: 25px;
}

/******** header *******/

.header {
  position: fixed;
  top: 0px;
  margin: 0 auto;
  height: 150px;
  width: 100%;
  background-color: white; }

  input {
  margin-top: 30px;
  height: 50px;
  width: 200px;
  border: none;
  font-size: 1.3em;
  color: black;
  background-color: white;
  text-align: center;
  font-family: 'Carrois Gothic SC', sans-serif;
  border-bottom: solid black 4px; }

input:hover {
  margin-top: 30px;
  height: 50px;
  width: 200px;
  border: none;
  font-size: 1.5em;
  color: black;
  background-color: white;
  text-align: center;
  font-family: 'Carrois Gothic SC', sans-serif;
  border-bottom: solid black 4px; }


button {
  height: 40px;
  width: 200px;
  border: none;
  background-color: white;
  font-size: 1em;
  font-family: 'Carrois Gothic SC', sans-serif; }

button:hover {
  height: 40px;
  width: 200px;
  border: 1px black;
  font-size: 1.3em;
  font-family: 'Carrois Gothic SC', sans-serif; }
