// Resets
body {
  margin: 0;
  padding: 0;
}

// Search styling for splash page;
.inputWrap {
  margin: 0 auto;
  width: 25%;
  height: 100%;
  background-color: white;
  display: flex; /* or inline-flex */
  margin-top: 30px;
}
.searchBox {
  margin: 0 auto;
  border: none;
  height: 85px;
  background-color: white;
  color: black;
  width: 70%;
  display: flex; /* or inline-flex */
  flex-direction: row;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
  border-bottom: solid black 4px;
}
.searchBox:hover {
  margin: 0 auto;
  border: none;
  height: 85px;
  background-color: white;
  color: black;
  width: 70%;
  display: flex; /* or inline-flex */
  flex-direction: row;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Carrois Gothic SC', sans-serif;
  border-bottom: solid black 4px;
}
.searchBox:focus {
  margin: 0 auto;
  color:white;
  border: none;
  height: 85px;
  color: white;
  background-color: white;
  color: black;
  width: 70%;
  display: flex; /* or inline-flex */
  flex-direction: row;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Carrois Gothic SC', sans-serif;
  border-bottom: solid black 4px;
}
.initSearch {
  margin: 0 auto;
  width: 30%;
  height: 90px;
  background-color:white;
  flex-direction: row;
  border: none;
  font-size: 1.5em;

}
.initSearch:hover {
  margin: 0 auto;
  width: 30%;
  height: 90px;
  background-color:#424242;
  color: white;
  flex-direction: row;
  border: none;
  font-size: 1.5em;

}
// Hero spot styling
.hero {
  width:500px;
  height: 500px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 5%;
}
.brand {
  height:100%;
  width:100%;
  background-color: white;
  border-radius: 50%;
}
// results styling

.results{
  width: 100%;
  margin-top: 150px;
}

.tweetz {
  display: flex;
  background-color: rgb(244,244,244);
  height:100%;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: white;
}
.results .tweetz .tweet {
  list-style: none;
  border-style: 2px black;
  flex-direction: row;
  width: 75%;
  padding: 25px;
}
.results .flexer {
  border-style: 2px black;
  flex-direction: column;
  width: 30%;
  padding: 25px;
}

.politicianWrapper {
  width:450px;
  height: 550px;
  position: relative;
}

// .politicianWrapper:hover {
//   width:450px;
//   height: 550px;
//   background-color: white;
//   position: relative;
//   opacity: 0.1;
// }

// .figure {
//   z-index: 999;
//   background-color: black;
//   color: white;
//   position: absolute;
//   bottom: 0px;
//   width:450px;
//   height:500px;
//   opacity: 0.0;
// }
//
// .figure:hover {
//   z-index: 999;
//   background-color: black;
//   color: white;
//   position: absolute;
//   bottom: 0px;
//   width:450px;
//   height:500px;
//   opacity: 0.8;
// }

.polIMG {
  z-index: -1;
}
.call-to-action {
  text-align: center;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 50px;
}
.inner {
  height: 550px;
  width: 450px;
  opacity: 0.0;
  background-color:hsla(0, 0%, 100%, 0.0);
  position: absolute;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
.inner:hover {
  height: 550px;
  width: 450px;
  opacity: 1;
  position: absolute;
  background-color:hsla(0, 0%, 100%, 0.7);
  color:black;
  font-family: 'Oswald', sans-serif;
  font-style: 2em;
}
.sort {
  font-size: 2em;
  color: black;
  margin-top: 10%;
  position: absolute;
  text-align: center;
}
.clickThru {
  font-size: 1.5em;
  color: black;
  margin-top: 99%;
  padding-top: 40px;
  position: absolute;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-left: 230px;
  z-index: 9999;
}

.fullName {
  margin-top: 75px;
  font-family: 'Oswald', sans-serif;
}
